/* header */
.header{
    min-height: 100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4),
     rgba(0, 0, 0, 0.4)), url(../images/image1.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}

.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
    border: 1px solid rgb(249, 247, 245);
    text-transform: capitalize
}

.navbar-brand::first-letter{
    color: red;
}

.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover{
    opacity: 0.7;
    background-color: wheat;
    color: black;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
    border: 1px solid lightseagreen;
    text-transform: capitalize;
}

.banner-title span{
    font-family: var(--Playfair);
    color: red;
}

.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form{
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.banner form label  :nth-child(1){
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
    border-radius: 2rem;
}

.banner form label{
    text-align: left;
    margin:5px;
    font-size: 1.3rem;
    letter-spacing:1px;
    text-transform: capitalize;
}

.banner form label input {
    margin-top:2px;
    background: transparent;
    border: 1px solid white!important;
}

.banner form label input::placeholder{
    padding-left: 1rem;
    text-transform: capitalize;
}

.banner form label input:focus{
    background-color: yellow;
    text-indent: 1rem;
}

form button{
    height: 2rem;
    border-radius: 2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight:bold;
    background: transparent;
    color: white;
    border: 1px solid white;
    
}
form button:hover{
    background-color: white;
    color:black;
} 
